<div class="min-h-screen flex flex-col">
  <!-- Calling header -->
  <app-header></app-header>

  <!-- Main Content -->
  <main class="flex-1 bg-green-100">
      <!-- Events Section -->
      <app-offers></app-offers>

      <!-- Buffet Section -->
      <app-buffet></app-buffet>

      <!-- Packages -->
      <app-packages></app-packages>

      <!-- Food House Section -->
      <app-about />


      <!-- Reviews Section -->
      <app-review-section />
  </main>

  <!-- Footer -->
  <app-footer></app-footer>
</div>
