<div class="flex h-screen bg-gray-200">
    <!-- Sidebar -->
    <app-drawer /> 
   <!-- component -->
    <div class="bg-gray-950 flex justify-center items-center min-h-screen p-10">
        <div class="md:w-3/5 w-3/4 px-10 flex flex-col gap-2 p-5 bg-gray-800 text-white">
            <h1 class="py-5 text-lg">Reviews</h1>
            <div class="flex bg-gray-600 bg-opacity-20 border border-gray-200 rounded-md">
                <mat-icon class="py-4 p-3">search</mat-icon>
                <input type="email" name="email" id="email" placeholder="Search Review" class="p-2 bg-transparent focus:outline-none">
            </div>

            <!-- Tags -->
            <div class="flex flex-wrap gap-2 w-full py-2">
                <span class="px-2 p-1 hover:bg-blue-400 bg-gray-950 bg-opacity-30">Experience</span>
                <span class="px-2 p-1 hover:bg-blue-400 bg-gray-950 bg-opacity-30">Quality</span>
                <span class="px-2 p-1 hover:bg-blue-400 bg-gray-950 bg-opacity-30">Design</span>
                <span class="px-2 p-1 hover:bg-blue-400 bg-gray-950 bg-opacity-30">Size</span>
                <span class="px-2 p-1 hover:bg-blue-400 bg-gray-950 bg-opacity-30">Features</span>
                <span class="px-2 p-1 hover:bg-blue-400 bg-gray-950 bg-opacity-30">Value</span>
                <span class="px-2 p-1 hover:bg-blue-400 bg-gray-950 bg-opacity-30">Replacement</span>
            </div>
            
            <!-- Item Container -->
            <div class="flex flex-col gap-3 mt-14">
                <div *ngFor="let review of reviews" class="flex flex-col gap-4 bg-gray-700 p-4">
                    <div class="flex justify-between">
                    <div class="flex gap-2">
                        <div class="w-7 h-7 text-center rounded-full bg-yellow-500">{{ review.name.charAt(0) }}</div>
                        <span>{{ review.name }}</span>
                    </div>
                    <div class="flex p-1 gap-1 text-orange-300">
                        <ng-container *ngFor="let star of [].constructor(review.rating) | slice:0:5">
                        <mat-icon>star</mat-icon>
                        </ng-container>
                        <ng-container *ngIf="review.rating % 1 !== 0">
                        <mat-icon>star_half</mat-icon>
                        </ng-container>
                    </div>
                    </div>
                    <div>{{ review.content }}</div>
                    <div class="flex justify-between">
                    <span>{{ review.date }}</span>
                    <button class="p-1 px-2 bg-gray-900 hover:bg-gray-950 border border-gray-950 bg-opacity-60">
                        <mat-icon>share</mat-icon> Share
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
