/* For Packages */
/* card hover effect */
.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}
  
/* call to action button */
.card .bg-green-500 {
    border-top: 1px solid #ddd;
}