<div class="flex h-screen bg-gray-100">
  <app-drawer></app-drawer>
  <section class="dashboard-page flex-1 overflow-auto">
    <div class="dashboard-content">
      <header class="header">
        <h1>Dashboard</h1>
      </header>

      <div class="content">
        <!-- Loading State -->
        <div *ngIf="loading" class="spinner-container">
          <div class="spinner"></div>
          <p>Loading dashboard...</p>
        </div>

        <!-- Error State -->
        <div *ngIf="!loading && errorMessage" class="error-message">
          <p>{{ errorMessage }}</p>
        </div>

        <main *ngIf="!loading" class="flex-1 p-6 overflow-auto">
          <!-- Admin Greeting and Statistics -->
          <div class="flex flex-wrap gap-6 mb-8">
            <div class="flex-1 bg-white shadow-2xl rounded-lg p-6">
              <div class="mb-6">
                <div class="flex items-start space-x-4 mb-6">
                  <i class="fas fa-user-circle text-green-600 text-6xl"></i>
                  <div>
                    <h2 class="text-xl font-semibold text-green-600">
                      Welcome Back, {{ auth.accountProfileName }}
                    </h2>
                    <p class="text-gray-600">Administrator</p>
                    <p class="text-gray-600 mt-2 font-medium text-lg">
                      Here’s an overview of key metrics and recent updates.
                    </p>
                  </div>
                </div>
              </div>
              <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                <div class="bg-green-100 p-4 rounded-lg shadow-md">
                  <h3 class="text-lg font-semibold text-green-800">Pending</h3>
                  <div class="text-2xl font-bold text-green-600">
                    {{ pending }}
                  </div>
                </div>
                <div class="bg-green-100 p-4 rounded-lg shadow-md">
                  <h3 class="text-lg font-semibold text-green-800">Approved</h3>
                  <div class="text-2xl font-bold text-green-600">
                    {{ approved }}
                  </div>
                </div>
                <div class="bg-red-100 p-4 rounded-lg shadow-md">
                  <h3 class="text-lg font-semibold text-red-800">Cancelled</h3>
                  <div class="text-2xl font-bold text-red-600">
                    {{ cancelled }}
                  </div>
                </div>
              </div>
            </div>

            <div class="flex-1 bg-white shadow-lg rounded-lg p-6">
              <h2 class="text-xl font-semibold text-green-600 mb-4">
                Notifications
              </h2>
              <div class="max-h-60 overflow-y-auto">
                <ul class="space-y-3">
                  <li
                    *ngFor="
                      let notification of notifications;
                      trackBy: trackById
                    "
                    [ngClass]="{
                      'bg-yellow-100': notification.isNew,
                      'bg-white': !notification.isNew
                    }"
                    class="flex items-start text-gray-700 mb-2 p-2 border-b border-gray-200 hover:bg-gray-100 transition duration-150 ease-in-out"
                    (click)="markAsRead(notification.id)"
                  >
                    <i class="fas fa-bell text-green-500 mr-3"></i>
                    <div>
                      <p class="font-semibold">{{ notification.title }} </p>
                      <p class="text-sm text-gray-500">
                        {{ notification.message }}
                      </p>
                      <span class="text-xs text-gray-400">{{
                        notification.date | date : "short"
                      }}</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Graph Cards (Filtered) -->
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div
              *ngFor="let card of filteredCards; let i = index"
              class="bg-white shadow-lg rounded-lg p-6 flex flex-col"
            >
              <h2 class="text-xl font-semibold text-gray-800 mb-4">
                {{ card.title }}
              </h2>

              <div class="flex-grow">
                <ng-container
                  *ngIf="
                    card.category === 'monthly_reservations';
                    else otherCharts
                  "
                >
                <div class="year-selector mb-4">
                  <label for="year">Select Year:</label>
                  <select
                    id="year"
                    [(ngModel)]="selectedYear"
                    (change)="onYearSelectionChange()"
                    class="form-select px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500"
                  >
                  <option *ngFor="let year of availableYears" [value]="year">
                    {{year}}
                  </option>
                  </select>
                </div>
                  <apx-chart
                    [series]="lineChartOptions.series || []"
                    [chart]="lineChartOptions.chart || { type: 'line' }"
                    [xaxis]="lineChartOptions.xaxis || {}"
                    [dataLabels]="lineChartOptions.dataLabels || {}"
                    [title]="lineChartOptions.title || {}"
                    class="w-full h-full"
                  ></apx-chart>
                </ng-container>

                <ng-template #otherCharts>
                  <ng-container
                    *ngIf="
                      card.category === 'monthly_reservations_per_year';
                      else eventPackages
                    "
                  >
                    <apx-chart
                      [series]="barChartOptions.series || []"
                      [chart]="barChartOptions.chart || { type: 'bar' }"
                      [xaxis]="barChartOptions.xaxis || {}"
                      [dataLabels]="barChartOptions.dataLabels || {}"
                      [title]="barChartOptions.title || {}"
                      class="w-full h-full"
                    ></apx-chart>
                  </ng-container>

                  <ng-template #eventPackages>
                    <div class="flex-grow">
                      <ng-container
                        *ngIf="
                          card.category === 'event_packages';
                          else reservationDensity
                        "
                      >
                      <div class="year-selector mb-4">
                        <label for="year">Select Year:</label>
                        <select
                          id="year"
                          [(ngModel)]="selectedYear"
                          (change)="onYearSelectionChange()"
                          class="form-select px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500"
                        >
                        <option *ngFor="let year of availableYears" [value]="year">
                          {{year}}
                        </option>
                        </select>
                      </div>

                        <apx-chart
                          [series]="areaChartOptions.series || []"
                          [chart]="areaChartOptions.chart || { type: 'area' }"
                          [xaxis]="areaChartOptions.xaxis || {}"
                          [dataLabels]="areaChartOptions.dataLabels || {}"
                          [title]="areaChartOptions.title || {}"
                          [fill]="areaChartOptions.fill || {}"
                          class="w-full h-full"
                        ></apx-chart>
                      </ng-container>
                    </div>

                    <ng-template #reservationDensity>
                      <ng-container
                        *ngIf="card.category === 'reservation_density'"
                      >
                        <div class="year-selector mb-4">
                          <label for="year">Select Year:</label>
                          <select
                            id="year"
                            [(ngModel)]="selectedYear"
                            (change)="onYearSelectionChange()"
                            class="form-select px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500"
                          >
                          <option *ngFor="let year of availableYears" [value]="year">
                            {{year}}
                          </option>
                          </select>
                        </div>

                        <apx-chart
                          [series]="chartSeries"
                          [chart]="
                            heatmapChartOptions.chart || { type: 'heatmap' }
                          "
                          [xaxis]="heatmapChartOptions.xaxis || {}"
                          [title]="heatmapChartOptions.title || {}"
                          [dataLabels]="heatmapChartOptions.dataLabels || {}"
                          [plotOptions]="heatmapChartOptions.plotOptions || {}"
                          [tooltip]="heatmapChartOptions.tooltip || {}"
                        >
                        </apx-chart>
                      </ng-container>
                    </ng-template>
                  </ng-template>
                </ng-template>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </section>
</div>
