button {
  transition: background-color 0.3s ease;

  &.facebook {
    background-color: #1877f2;

    &:hover {
      background-color: darken(#1877f2, 10%); // Darken Facebook color on hover
    }
  }
}

