<section class="w-full h-[100vh] relative overflow-hidden">
  <img [src]="offers[slideIndex].images" class="w-full h-[100vh] object-cover" />
  <div class="absolute inset-0 bg-gradient-to-r from-transparent to-green-600"></div> 
  <div class="absolute inset-0 flex justify-end items-center p-7">
    <div class="content-container text-right">
      <h2 class="text-4xl font-bold font-serif text-white">
        {{ offers[slideIndex].title }}
      </h2>
      <p class="text-lg text-white mb-6 font-poppins">
        {{ offers[slideIndex].description }}
      </p>
    </div>
  </div>

  <!-- Add button -->
  <div class="absolute bottom-7 right-7">
    <button class="bg-green-300 bg-opacity-75 text-green-900 font-bold py-3 px-8 rounded-lg shadow-2xl hover:bg-green-400 hover:bg-opacity-100 transform hover:scale-105 transition duration-200 border-2 border-green-500">
      Add Content
    </button>
  </div>
</section>
