<section class="my-5 p-32 pb-32 px-10 max-w-screen-xl mx-auto">
  <h3
    class="text-4xl font-bold font-serif text-center mb-6 mt-8 text-green-700 relative elegant-underline"
  >
    Our Menu
  </h3>

  <p class="text-center text-2xl text-gray-700 mb-6 font-semibold">
    Explore our wide range of delicious dishes that cater to every taste. From
    hearty meals to light bites, our menu offers something for everyone.
    Discover your new favorite dish today!
  </p>

  <div class="flex flex-col">
    <!-- Container with Flat Background -->

    <!-- Bulk Delete Buttons -->
    <div class="flex justify-end mb-4 space-x-4">
      <!-- Delete Selected Dishes Button -->
      <button
        mat-flat-button
        color="primary"
        class="text-lg font-semibold text-gray-800 py-3 px-6 flex items-center rounded-lg bg-gray-100 hover:bg-gray-300 transition duration-150 ease-in-out"
        (click)="deleteSelectedItems()"
        [disabled]="selectedItems.size === 0"
        [ngClass]="{
          'text-gray-400 bg-gray-200 cursor-not-allowed':
            selectedItems.size === 0
        }"
      >
        <mat-icon class="mr-2">delete</mat-icon>
        <span>Delete Selected</span>
      </button>

      <!-- Delete All Dishes Button -->
      <button
        mat-flat-button
        color="warn"
        class="text-lg font-semibold text-red-800 py-3 px-6 flex items-center rounded-lg bg-red-50 hover:bg-red-200 transition duration-150 ease-in-out"
        (click)="deleteAllItems()"
      >
        <mat-icon class="mr-2">delete_forever</mat-icon>
        <span>Delete All</span>
      </button>
    </div>

    <!-- Products Grid -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 m-2">
      @for (dishes of menu; track $index) {
      <div
        class="relative bg-white shadow-lg rounded-lg overflow-hidden flex flex-col justify-between p-4 h-full cursor-pointer"
        [class.border-2]="isSelected(dishes.menuID.toString())"
        [class.border-red-500]="isSelected(dishes.menuID.toString())"
        (click)="toggleSelection(dishes.menuID.toString())"
      >
        <!-- Image -->
        <img
          [src]="dishes.image_url"
          class="w-full h-48 object-cover rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105"
          alt="Product Image"
        />
        <!-- Set fixed height for consistency -->

        <!-- Content -->
        <div class="mt-4 p-4 flex flex-col justify-between flex-grow">
          <h4 class="text-2xl font-semibold font-serif text-green-700">
            {{ dishes.name }}
          </h4>
          <p
            class="font-poppins text-gray-700 mt-3 overflow-hidden text-ellipsis line-clamp-3"
          >
            {{ dishes.description }}
          </p>

          <!-- Edit and Delete Buttons -->
          <div class="mt-4 flex justify-end space-x-2">
            <button
              class="flex items-center justify-center border border-green-500 text-green-500 font-medium py-1 px-4 rounded-lg hover:bg-green-50 hover:text-green-600 transition duration-200 ease-in-out"
              [routerLink]="['/admin/edit-menu', dishes.menuID]"
              (click)="$event.stopPropagation()"
            >
              <span class="material-icons-outlined mr-1">edit</span>
              Edit Info
            </button>

            <button
              class="flex items-center justify-center border border-red-500 text-red-500 font-medium py-1 px-4 rounded-lg hover:bg-red-50 hover:text-red-600 transition duration-200 ease-in-out"
              (click)="
                deleteDish(dishes.menuID.toString()); $event.stopPropagation()
              "
            >
              <span class="material-icons">delete</span>
            </button>
          </div>
        </div>
      </div>
      }

      <!-- Add New Dish Card -->
      <div
        [routerLink]="['/admin/add-menu']"
        class="bg-green-200 shadow-lg rounded-lg overflow-hidden flex flex-col justify-center items-center p-4 h-full"
      >
        <svg
          [routerLink]="['/admin/add-menu']"
          class="w-16 h-16 text-green-700 mb-2"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            d="M12 2a1 1 0 011 1v8h8a1 1 0 110 2h-8v8a1 1 0 11-2 0v-8H3a1 1 0 110-2h8V3a1 1 0 011-1z"
          />
        </svg>
        <h4
          [routerLink]="['/admin/add-menu']"
          class="text-2xl font-semibold font-serif text-green-700 text-center"
        >
          Add New Dish
        </h4>
        <button
          [routerLink]="['/admin/add-menu']"
          class="font-poppins text-gray-600 text-center mt-1"
        >
          Click here to add a new dish.
        </button>
      </div>
    </div>
  </div>
</section>
