<section class="mb-12 p-10 max-w-screen-xl mx-auto"> <!-- Changed mb-20 to mb-12 -->
    <h3 class="text-4xl font-bold font-serif text-center mb-6 mt-8 text-green-700 relative elegant-underline"> 
        Our Menu
    </h3>
                
    <p class="text-center text-2xl text-gray-700 mb-6 font-poppins font-semibold">
        Explore our wide range of delicious dishes that cater to every taste. From hearty meals to light bites, our menu offers something for everyone. Discover your new favorite dish today!
    </p>
            
    <div class="flex">
        <!-- Products Grid -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4"> <!-- Adjusted gap -->
            @for (dishes of menu; track $index) {
                <div class="relative bg-white rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300 ease-in-out transform hover:-translate-y-2 square-container mx-2"> <!-- Added margin to each container -->
                    <img [src]="dishes.image" class="square-image w-full object-cover rounded-lg" alt="Product Image">
                    <div class="mt-4 p-4"> 
                        <h4 class="text-2xl font-semibold font-serif text-green-700">{{dishes.name}}</h4>
                        <p class="font-poppins text-gray-700 mt-3">{{dishes.description}}</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
