.mat-form-field {
  width: 100%;
}

.mat-stepper-horizontal {
  background: #fff;
}

.mat-step-header {
  color: #4caf50 !important;
}

mat-error {
  font-family: 'Open Sans', sans-serif; // Use a minimalist font family
  font-size: 0.875rem; // Adjust the font size
  color: red; // Ensure the error message is red
  font-weight: 400; // Use a normal font weight
  margin-top: 0.25rem; // Add some spacing above the error message
  font-style: italic;
}

.terms-container {
  &::-webkit-scrollbar {
    width: 8px;
  }
  
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
    
    &:hover {
      background: #555;
    }
  }
}