<div class="min-h-screen flex flex-col sticky top-0 z-50">
  <!-- Calling header -->
  <header class="sticky top-0 z-50">
    <app-header />
  </header>

  <!-- Main Content -->
  <main class="flex-1 bg-green-50">
      <!-- Events Section -->
      <section id="home">
        <app-offers />
      </section>

      <!-- Buffet Section -->
      <section id="menu">
        <app-menu />
      </section>

      <!-- Packages -->
      <section id="services">
        <app-services />
      </section>

      <!-- Reviews Section -->
      <section id="reviews">
        <app-review-section />
      </section>

      <!-- Food House Section -->
      <section id="inquiry">
        <app-inquiry-form />
      </section>
  </main>

  <!-- Footer -->
  <footer>
    <app-footer />
  </footer> 
</div>
