<nav class="bg-white border-b border-gray-200 py-6 shadow-sm relative">
  <div class="max-w-screen-xl mx-auto flex items-center justify-between px-8">
    <!-- Logo and H1 centered with space between -->
    <a href="" class="flex items-center space-x-4">
      <img src="assets/images/Wacky's Logo.png" class="h-20" alt="Wacky's Logo" />
      <h1 class="text-4xl font-bold font-serif text-green-700">WACKY'S<br>FOOD HOUSE</h1>
    </a>

    <!-- Navigation Links -->
    <div class="hidden md:flex md:items-center md:space-x-10">
      <ul class="flex flex-col md:flex-row font-medium p-4 md:p-0 mt-4 md:mt-0 border md:border-0 bg-white dark:bg-white rounded-lg md:rounded-none">
        <li>
          <button 
            [routerLink]="['/customer/home']" 
            class="block py-3 px-5 text-lg text-green-600 hover:bg-green-100 rounded font-poppins"
          >
            Home
          </button>
        </li>
        <li>
          <button 
            [routerLink]="['/customer/menu']" 
            class="block py-3 px-5 text-lg text-green-600 hover:bg-green-100 rounded font-poppins"
          >
            Menu
          </button>
        </li>
        <li>
          <button
            [routerLink]="['/customer/services']" 
            class="block py-3 px-5 text-lg text-green-600 hover:bg-green-100 rounded font-poppins"
          >
            Services
        </button>
        </li>
        <li>
          <button
            [routerLink]="['/customer/reservation']" 
            class="block py-3 px-5 text-lg text-green-600 hover:bg-green-100 rounded font-poppins"
          >
            Reservation
        </button>
        </li>
      </ul>
    </div>

    <!-- Dropdown Button -->
    <div class="relative">
      <button type="button" class="flex items-center text-sm bg-white text-green-600 border border-green-600 rounded-full focus:ring-4 focus:ring-green-300 hover:bg-green-100" id="user-menu-button" aria-expanded="false" (click)="toggleDropdown()">
        <span class="sr-only">Open user menu</span>
        <img class="w-12 h-12 rounded-full" src="https://media.licdn.com/dms/image/D4E03AQEU5oUdF_SYkg/profile-displayphoto-shrink_800_800/0/1713251114252?e=1728518400&v=beta&t=i8RKxR53cdIGBIApcjJv-meYwxUrnUpQAHNhhbo11RU" alt="user photo">
      </button>

      <!-- Dropdown Menu -->
      <div *ngIf="isDropdownOpen" class="absolute top-14 right-0 z-50 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow-lg w-48">
        <div class="px-6 py-4">
          <span class="block text-lg text-green-600">Bonnie Green</span>
          <span class="block text-sm text-gray-500 truncate">name.com</span>
        </div>
        <ul class="py-3" aria-labelledby="user-menu-button">
          <li>
            <a href="#" class="block px-6 py-3 text-lg text-green-600 hover:bg-green-100 font-poppins">Reservations</a>
          </li>
          <li>
            <a href="#" class="block px-6 py-3 text-lg text-green-600 hover:bg-green-100 font-poppins">Notifications</a>
          </li>
          <li>
            <a href="#" class="block px-6 py-3 text-lg text-green-600 hover:bg-green-100 font-poppins">Settings</a>
          </li>
          <li>
            <a href="#" class="block px-6 py-3 text-lg text-green-600 hover:bg-green-100 font-poppins">Sign out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
