<section class="main-slides mb-10">
    <div class="slideshow-container">
        <!-- Slides -->
        <div class="mySlides fade relative rounded-lg" style="background-image: url('assets/images/Buffet.jpg');">
            <div class="overlay">
            <div class="content-container">
                <h2 class="text-4xl font-bold text-white mb-4">198 Eat-All-You-Can Buffet</h2>
                <p class="text-lg text-white mb-6">Wacky's Food House also offers event hosting for any occasion!</p>
                <a href="#" class="bg-green-500 text-white py-3 px-6 rounded-lg shadow-md hover:bg-green-600 transition-colors">Book Your Reservations Now!</a>
            </div>
            </div>
        </div>
        <div class="mySlides fade relative rounded-lg" style="background-image: url('assets/images/Mixed Seafoods.jpg');">
            <div class="overlay">
            <div class="content-container">
                <h2 class="text-4xl font-bold text-white mb-4">Seafood Buffet</h2>
                <p class="text-lg text-white mb-6">Wacky's Food House also offers event hosting for any occasion!</p>
                <a href="#" class="bg-green-500 text-white py-3 px-6 rounded-lg shadow-md hover:bg-green-600 transition-colors">Book Your Reservations Now!</a>
            </div>
            </div>
        </div>
    <div class="mySlides fade relative rounded-lg" style="background-image: url('assets/images/Event 6.jpg');">
        <div class="overlay">
        <div class="content-container">
            <h2 class="text-4xl font-bold text-white mb-4">Receptions</h2>
            <p class="text-lg text-white mb-6">Wacky's Food House also offers event hosting for any occasion!</p>
            <a href="#" class="bg-green-500 text-white py-3 px-6 rounded-lg shadow-md hover:bg-green-600 transition-colors">Book Your Reservations Now!</a>
        </div>
        </div>
    </div>
    </div>
</section>