<section class="main-slides mb-10">
    <div class="slideshow-container">
        <!-- Slides -->
        <div class="mySlides fade relative rounded-lg" style="background-image: url('assets/images/Buffet.jpg');">
            <div class="overlay">
                <div class="content-container">
                    <h2 class="text-4xl font-bold font-serif text-white">198 EAT-ALL-YOU-CAN BUFFET</h2>
                    <p class="text-lg text-white mb-6 font-poppins">Wacky's Food House also offers event hosting for any occasion!</p>
                </div>
            </div>
        </div>

        <div class="mySlides fade relative rounded-lg" style="background-image: url('assets/images/Mixed Seafoods.jpg');">
            <div class="overlay">
                <div class="content-container">
                    <h2 class="text-4xl font-bold font-serif text-white">SEAFOOD BUFFET</h2>
                    <p class="text-lg text-white mb-6 font-poppins">Wacky's Food House also offers event hosting for any occasion!</p>
                </div>
            </div>
        </div>

        <div class="mySlides fade relative rounded-lg" style="background-image: url('assets/images/Event 6.jpg');">
            <div class="overlay">
                <div class="content-container">
                    <h2 class="text-4xl font-bold font-serif text-white">RECEPTIONS</h2>
                    <p class="text-lg text-white mb-6 font-poppins">Wacky's Food House also offers event hosting for any occasion!</p>
                </div>
            </div>
        </div>
    </div>
</section>
