<div class="flex h-screen bg-gray-100">
  <app-drawer></app-drawer>
  <section class="dashboard-page flex-1 overflow-auto">
    <div class="dashboard-content">
      <header class="header">
        <h1>Calendar</h1>
      </header>

      <div class="content">
        <!-- Calendar Component with margins on all sides -->
        <div
          class="flex-grow bg-white shadow-lg rounded-lg p-4 m-4 overflow-auto"
        >
          <!-- Calendar Display with green accent and margin -->
          <div
            id="calendar"
            class="w-full h-full rounded-lg shadow-md border border-gray-300 bg-green-50 p-4 m-2"
          ></div>
          
        </div>
      </div>
    </div>
  </section>
</div>
