<div class="flex h-screen bg-gray-100 overflow-hidden">
  <app-drawer></app-drawer>
  <div class="flex-1 p-6 overflow-y-auto">
    <!-- Search and Items per Page Panel -->
    <div class="mb-6 flex items-center justify-between">
      <div class="flex items-center space-x-4">
        <div class="relative">
          <svg
            class="absolute left-3 top-1/2 transform -translate-y-1/2 w-6 h-6 text-gray-500"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M11 4a7 7 0 100 14 7 7 0 000-14zM21 21l-4.35-4.35"
            />
          </svg>
          <input
            type="text"
            [(ngModel)]="searchText"
            placeholder="Search..."
            class="pl-12 py-3 pr-4 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-500 focus:border-green-500 w-96 shadow-sm transition duration-200"
          />
        </div>
        <button
          (click)="resetSearch()"
          class="py-3 px-4 bg-green-500 text-white rounded-lg hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 transition duration-200"
        >
          Reset
        </button>
      </div>
      <div>
        <select
          [(ngModel)]="itemsPerPage"
          (change)="changeItemsPerPage()"
          class="py-3 px-4 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-500 focus:border-green-500 shadow-sm transition duration-200"
        >
          <option *ngFor="let option of itemsPerPageOptions" [value]="option">
            {{ option }} per page
          </option>
        </select>
      </div>
    </div>

    <!-- Reservation Data Table -->
    <div class="overflow-x-auto mb-6">
      <table
        class="min-w-full bg-white border border-gray-200 rounded-lg shadow-md text-left"
      >
        <thead class="bg-green-500 text-white">
          <tr>
            <th class="p-4 text-sm font-medium relative">
              <div class="flex items-center justify-between">
                <span>Package Type</span>
                <button
                  class="ml-2 p-1 bg-white text-green-500 rounded-full hover:bg-green-100 focus:outline-none"
                  (click)="toggleFilter('packageType')"
                >
                  <i class="material-icons text-sm">filter_list</i>
                </button>
              </div>
              <input
                *ngIf="showFilters.packageType"
                type="text"
                [(ngModel)]="filters.packageType"
                placeholder="Filter by Package Type"
                class="absolute top-full left-0 mt-1 w-full p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-500 focus:border-green-500 transition duration-200 text-gray-700"
              />
            </th>
            <th class="p-4 text-sm font-medium relative">
              <div class="flex items-center justify-between">
                <span>Customer Name</span>
                <button
                  class="ml-2 p-1 bg-white text-green-500 rounded-full hover:bg-green-100 focus:outline-none"
                  (click)="toggleFilter('name')"
                >
                  <i class="material-icons text-sm">filter_list</i>
                </button>
              </div>
              <input
                *ngIf="showFilters.name"
                type="text"
                [(ngModel)]="filters.name"
                placeholder="Filter by Name"
                class="absolute top-full left-0 mt-1 w-full p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-500 focus:border-green-500 transition duration-200 text-gray-700"
              />
            </th>
            <th class="p-4 text-sm font-medium relative">
              <div class="flex items-center justify-between">
                <span>Contact No.</span>
                <button
                  class="ml-2 p-1 bg-white text-green-500 rounded-full hover:bg-green-100 focus:outline-none"
                  (click)="toggleFilter('contactNumber')"
                >
                  <i class="material-icons text-sm">filter_list</i>
                </button>
              </div>
              <input
                *ngIf="showFilters.contactNumber"
                type="text"
                [(ngModel)]="filters.contactNumber"
                placeholder="Filter by Contact No."
                class="absolute top-full left-0 mt-1 w-full p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-500 focus:border-green-500 transition duration-200 text-gray-700"
              />
            </th>
            <th class="p-4 text-sm font-medium relative">
              <div class="flex items-center justify-between">
                <span>No. of Guests</span>
                <button
                  class="ml-2 p-1 bg-white text-green-500 rounded-full hover:bg-green-100 focus:outline-none"
                  (click)="toggleFilter('numberOfPax')"
                >
                  <i class="material-icons text-sm">filter_list</i>
                </button>
              </div>
              <input
                *ngIf="showFilters.numberOfPax"
                type="text"
                [(ngModel)]="filters.numberOfPax"
                placeholder="Filter by Number of Pax"
                class="absolute top-full left-0 mt-1 w-full p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-500 focus:border-green-500 transition duration-200 text-gray-700"
              />
            </th>
            <th class="p-4 text-sm font-medium relative">
              <div class="flex items-center justify-between">
                <span>Date</span>
                <button
                  class="ml-2 p-1 bg-white text-green-500 rounded-full hover:bg-green-100 focus:outline-none"
                  (click)="toggleFilter('eventDate')"
                >
                  <i class="material-icons text-sm">filter_list</i>
                </button>
              </div>
              <input
                *ngIf="showFilters.eventDate"
                type="text"
                [(ngModel)]="filters.eventDate"
                placeholder="Filter by Date"
                class="absolute top-full left-0 mt-1 w-full p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-500 focus:border-green-500 transition duration-200 text-gray-700"
              />
            </th>
            <th class="p-4 text-sm font-medium relative">
              <div class="flex items-center justify-between">
                <span>Time</span>
                <button
                  class="ml-2 p-1 bg-white text-green-500 rounded-full hover:bg-green-100 focus:outline-none"
                  (click)="toggleFilter('eventTime')"
                >
                  <i class="material-icons text-sm">filter_list</i>
                </button>
              </div>
              <input
                *ngIf="showFilters.eventTime"
                type="text"
                [(ngModel)]="filters.eventTime"
                placeholder="Filter by Time"
                class="absolute top-full left-0 mt-1 w-full p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-500 focus:border-green-500 transition duration-200 text-gray-700"
              />
            </th>
            <th class="p-4 text-sm font-medium relative">
              <div class="flex items-center justify-between">
                <span>Status</span>
                <button
                  class="ml-2 p-1 bg-white text-green-500 rounded-full hover:bg-green-100 focus:outline-none"
                  (click)="toggleFilter('status')"
                >
                  <i class="material-icons text-sm">filter_list</i>
                </button>
              </div>
              <input
                *ngIf="showFilters.status"
                type="text"
                [(ngModel)]="filters.status"
                placeholder="Filter by Status"
                class="absolute top-full left-0 mt-1 w-full p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-500 focus:border-green-500 transition duration-200 text-gray-700"
              />
            </th>
            <th class="p-4 text-sm font-medium relative">
              <div class="flex items-center justify-between">
                <span>Payment Status</span>
                <button
                  class="ml-2 p-1 bg-white text-green-500 rounded-full hover:bg-green-100 focus:outline-none"
                  (click)="toggleFilter('paymentStatus')"
                >
                  <i class="material-icons text-sm">filter_list</i>
                </button>
              </div>
              <input
                *ngIf="showFilters.paymentStatus"
                type="text"
                [(ngModel)]="filters.paymentStatus"
                placeholder="Filter by Payment Status"
                class="absolute top-full left-0 mt-1 w-full p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-500 focus:border-green-500 transition duration-200 text-gray-700"
              />
            </th>
            <th class="p-4 text-sm font-medium">Actions</th>
          </tr>
        </thead>
        <tbody class="text-gray-700 divide-y divide-gray-200">
          <tr
            *ngFor="let reservation of pagedData()"
            class="hover:bg-gray-50 transition duration-200"
          >
            <td class="p-4">{{ reservation.packageID }}</td>
            <td class="p-4">{{ reservation.name }}</td>
            <td class="p-4">{{ reservation.contactNumber }}</td>
            <td class="p-4">{{ reservation.numberOfPax }}</td>
            <td class="p-4">{{ reservation.eventDate | date }}</td>
            <td class="p-4">{{ reservation.eventTime }}</td>
            <td class="p-4">
              <span
                [ngClass]="{
                  'bg-yellow-100 text-yellow-600':
                    reservation.status === 'Pending',
                  'bg-green-100 text-green-600':
                    reservation.status === 'Approved',
                  'bg-red-100 text-red-600': reservation.status === 'Cancelled'
                }"
                class="px-3 py-1 text-xs font-medium rounded-lg"
              >
                {{ reservation.status }}
              </span>
            </td>
            <td class="p-4">
              <span
                [ngClass]="{
                      'bg-yellow-100 text-yellow-600': reservation.paymentStatus === 'PENDING',
                      'bg-green-100 text-green-600': reservation.paymentStatus === 'PAID',
                      'bg-blue-100 text-blue-600': reservation.paymentStatus === 'PARTIALLY_PAID'
                    }"
                class="px-3 py-1 text-xs font-medium rounded-lg"
              >
                {{ reservation.paymentStatus }}
              </span>
            </td>
            <td class="p-4 space-x-1">
              <button
                [routerLink]="[
                  '/admin/view-reservations',
                  reservation.reservationID
                ]"
                class="py-1 px-2 bg-blue-500 text-white rounded-lg text-xs hover:bg-blue-600 focus:outline-none transition duration-200"
              >
                <i class="material-icons text-xs">visibility</i>
              </button>
              <button
                [routerLink]="[
                  '/admin/edit-reservations',
                  reservation.reservationID
                ]"
                (click)="$event.stopPropagation()"
                class="py-1 px-2 bg-yellow-500 text-white rounded-lg text-xs hover:bg-yellow-600 focus:outline-none transition duration-200"
              >
                <i class="material-icons text-xs">edit</i>
              </button>
              <button
                (click)="
                  openDelete(reservation.reservationID);
                  $event.stopPropagation()
                "
                class="py-1 px-2 bg-red-500 text-white rounded-lg text-xs hover:bg-red-600 focus:outline-none transition duration-200"
              >
                <i class="material-icons text-xs">delete</i>
              </button>
            </td>
          </tr>
          <tr *ngIf="pagedData().length === 0">
            <td colspan="9" class="text-center py-4 text-red-500">
              No results found.
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Modals for Deleting -->
    <div class="modal-container overflow-auto max-h-screen z-50">
      <app-delete-reservation-modal
        *ngIf="deletingItem"
        [item]="deletingItem"
        (cancelDelete)="closeDelete()"
      ></app-delete-reservation-modal>
    </div>

    <!-- Pagination Controls -->
    <div class="flex justify-end mt-4">
      <div class="flex items-center space-x-2">
        <button
          (click)="prevPage()"
          [disabled]="currentPage === 1"
          class="py-2 px-3 bg-green-500 text-white rounded-lg text-sm hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 transition duration-200"
        >
          Previous
        </button>
        <span class="text-sm"
          >Page {{ currentPage }} of {{ totalPages() }}</span
        >
        <button
          (click)="nextPage()"
          [disabled]="currentPage === totalPages()"
          class="py-2 px-3 bg-green-500 text-white rounded-lg text-sm hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 transition duration-200"
        >
          Next
        </button>
      </div>
    </div>

    <div class="relative group">
      <!-- Button with Enhanced Floating Effect and Shadow -->
      <button
        (click)="openAdd()"
        class="fixed bottom-6 right-6 bg-green-500 text-white p-6 rounded-lg shadow-2xl hover:bg-green-600 focus:outline-none focus:ring-4 focus:ring-green-300 transition-transform duration-300 transform hover:-translate-y-2 hover:shadow-3xl"
      >
        <i class="material-icons text-4xl">add</i>
      </button>
    </div>

    <div class="modal-container overflow-auto max-h-screen z-50">
      <app-add-reservation-modal
        *ngIf="addingItem"
        (close)="closeAdd()"
        (add)="handleAdd($event)"
      >
      </app-add-reservation-modal>
    </div>
  </div>
</div>
