<section class="mb-20 p-10 max-w-screen-xl mx-auto">
  <h3 class="text-3xl font-bold text-center mb-6 text-green-700">
    Our Eat-All-You-Can Buffet
  </h3>
  <div class="flex">
    <!-- Food Images -->
    <div class="flex flex-wrap gap-5">
      @for (image of buffet; track $index) {
      <div class="rounded-lg">
        <div
          class="w-50 h-96 relative transition-transform transform hover:scale-105 rounded-lg"
        >
          <img
            [src]="image.image"
            alt="Food Image"
            class="w-full h-full object-cover transition-opacity duration-300 hover:opacity-75 rounded-lg"
          />
          <div
            class="absolute inset-0 bg-black bg-opacity-20 flex items-center justify-center opacity-0 hover:opacity-100 transition-opacity duration-300"
          >
            <span class="text-white text-xl font-semibold">{{
              image.name
            }}</span>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>
