<section class="w-full h-[clamp(350px,90vh,800px)] relative overflow-hidden">
  <!-- Image -->
  <img
    [src]="offers[slideIndex].images"
    class="w-full h-full object-cover"
    alt="{{ offers[slideIndex].title }}"
  />

  <!-- Gradient Overlay -->
  <div
    class="absolute inset-0 bg-gradient-to-r from-transparent via-green-600/50 to-green-600"
  ></div>

  <div class="absolute inset-0 flex justify-center sm:justify-end items-center px-[clamp(0.75rem,4vw,4rem)]">
    <div class="content-container text-center sm:text-right w-[clamp(280px,85%,750px)] mr-[clamp(0rem,4vw,4rem)]">
      <!-- Title -->
      <h2 class="text-[clamp(0.875rem,3vw,2.75rem)] 
                 font-bold 
                 font-serif 
                 text-white 
                 leading-[clamp(1.1,1.15,1.3)] 
                 tracking-[clamp(-0.01em,0.006vw,0.01em)] 
                 mb-[clamp(0.3rem,1.25vw,1.25rem)]">
        {{ offers[slideIndex].title }}
      </h2>

      <!-- Description -->
      <p class="text-[clamp(0.7rem,1.5vw,1.125rem)] 
                text-white 
                mb-[clamp(0.5rem,2vw,1.75rem)] 
                font-poppins 
                max-w-[clamp(260px,50ch,700px)] 
                ml-auto">
        {{ offers[slideIndex].description }}
      </p>
    </div>
  </div>